@import url(../vendor/line-awesome/css/line-awesome.min.css);
@import url(../vendor/owlcarousel/css/owl.carousel.min.css);
@import url(../vendor/owlcarousel/css/owl.theme.default.min.css);
/*=======================================================
                reset default styling
=======================================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Remove all animations and transitions for people that prefer not to see them */
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*=======================================================
                    basic styling
=======================================================*/
*,
*::before,
*::after {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1366px;
  }
}

/*=======================================================
                        header
=======================================================*/
/*=======================================================
                        banner
=======================================================*/
#banner .banner__content__box .banner__image_container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#banner .banner__content__box .banner__image_container img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .8;
}
#banner .banner__content__box .owl-nav {
  position: absolute;
  top: 45%;
  width: 100%;
}
#banner .banner__content__box .owl-nav .owl-prev,
#banner .banner__content__box .owl-nav .owl-next {
  background-color: #ffffff;
  padding: 10px 25px !important;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 700;
}
#banner .banner__content__box .owl-nav .owl-prev {
  float: left;
}
#banner .banner__content__box .owl-nav .owl-next {
  float: right;
}

/*=======================================================
                title styling of each section
=======================================================*/
.title-box {
  position: relative;
  padding-left: 35px;
}
.title-box::before {
  content: "";
  position: absolute;
  background: #00c0ff;
  left: 0;
  height: 90%;
  width: 4px;
}
.title-box::after {
  content: "";
  position: absolute;
  background: #00c0ff;
  left: 10px;
  top: 0;
  height: 60%;
  width: 2px;
}
.title-box .subtitle,
.title-box .title {
  text-transform: uppercase;
}
.title-box .subtitle {
  color: #00c0ff;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
}
.title-box .title {
  color: #ffffff;
  font-size: 34px;
  line-height: 1.3;
  font-weight: 700;
}

/*=======================================================
                property adds card
=======================================================*/
.property-ads-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.property-ads-outer-container .property-ads-inner-container {
  max-width: 370px;
  padding: 15px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box {
  padding: 20px 0 0;
  display: inline-block;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 7px;
  text-transform: capitalize;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-address {
  margin-bottom: 17px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-address i {
  color: #00c0ff;
  margin-right: 4px;
  font-size: 18px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-address span {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 7px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .properties-info li {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  margin-bottom: 15px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .properties-info li svg {
  color: #00c0ff;
  width: 24px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .properties-info li span {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 30px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-btn-box a,
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-btn-box span {
  float: left;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  padding: 10px;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-btn-box a {
  width: 50%;
  background: #2f4f4f;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-btn-box a:hover {
  background: #00c0ff;
}
.property-ads-outer-container .property-ads-inner-container .property-desc-box .property-btn-box span {
  width: 50%;
  background: #222222;
}

/*=======================================================
                property adds section
=======================================================*/
#recent-property-ads,
#commercial-property-ads,
#residential-property-ads,
#popular-places,
#agents {
  background-color: #2e2e2e;
  padding: 128px 0 80px;
}
#recent-property-ads .title-box,
#commercial-property-ads .title-box,
#residential-property-ads .title-box,
#popular-places .title-box,
#agents .title-box {
  margin-bottom: 65px;
}

/*=======================================================
                    about section
=======================================================*/
#about {
  background: #2A2A2A;
  padding: 128px 0 70px;
}
#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#about .container .about__col--left,
#about .container .about__col--right {
  width: 100%;
}
@media screen and (min-width: 992px) {
  #about .container .about__col--left,
  #about .container .about__col--right {
    width: 50%;
  }
}
#about .container .about__col--left {
  padding-right: 10px;
}
#about .container .about__col--left .title-box {
  margin-bottom: 45px;
}
#about .container .about__col--left .about__info__box .about__desc {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}
#about .container .about__col--left .about__info__box .property-feature {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #about .container .about__col--left .about__info__box .property-feature {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  #about .container .about__col--left .about__info__box .property-feature {
    width: 50%;
    float: left;
  }
}
#about .container .about__col--left .about__info__box .property-feature svg {
  width: 50px;
  float: left;
}
#about .container .about__col--left .about__info__box .property-feature .feature__info_box {
  padding: 0 30px 35px 75px;
}
#about .container .about__col--left .about__info__box .property-feature .feature__info_box .property__feature__title {
  font-size: 18px;
  line-height: 1.2em;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}
#about .container .about__col--left .about__info__box .property-feature .feature__info_box .property__feature__info {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
}
#about .container .about__col--right {
  padding: 30px 25px;
}
@media screen and (min-width: 992px) {
  #about .container .about__col--right {
    padding-left: 50px;
  }
}
#about .container .about__col--right .about__video__box {
  position: relative;
}
#about .container .about__col--right .about__video__box::before {
  position: absolute;
  left: -20px;
  top: -20px;
  content: "";
  border: 1px solid #00c0ff;
  width: 100%;
  height: 100%;
}
#about .container .about__col--right .about__video__box::after {
  position: absolute;
  right: -20px;
  bottom: -20px;
  content: "";
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
}
#about .container .about__col--right .about__video__box figure {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#about .container .about__col--right .about__video__box .play-now i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 30px;
  color: #ffffff;
  background: #00c0ff;
  padding: 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

/*=======================================================
                popular-places section
=======================================================*/
#popular-places .container .popular-places-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media screen and (min-width: 768px) {
  #popular-places .container .popular-places-container {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
}
#popular-places .container .popular-places-container .popular__places__box {
  position: relative;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__img__box img {
  width: 100%;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box:hover {
  background: rgba(0, 192, 255, 0.6);
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box:hover .popular__places__content__box__inner .popular__places__link__box {
  visibility: visible;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box:hover .popular__places__content__box__inner .popular__places__link__box .popular__places__link::before {
  width: 50px;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box:hover .popular__places__content__box__inner .popular__places__link__box .popular__places__link::after {
  width: 25px;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner {
  position: relative;
  padding: 20px 25px;
  width: 100%;
  height: 100%;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__name,
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__link {
  color: #ffffff;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__name {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 5px;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__link__box {
  position: absolute;
  bottom: 20px;
  right: 25px;
  visibility: hidden;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__link__box .popular__places__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__link__box .popular__places__link::before {
  position: absolute;
  top: 7px;
  right: 100%;
  width: 0px;
  height: 4px;
  background: #ffffff;
  content: '';
  margin-right: 12px;
}
#popular-places .container .popular-places-container .popular__places__box .popular__places__content__box .popular__places__content__box__inner .popular__places__link__box .popular__places__link::after {
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0px;
  height: 2px;
  background: #ffffff;
  content: '';
  margin-right: 12px;
}
#popular-places .container .popular-places-container .inner_popular__places__box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media screen and (min-width: 768px) {
  #popular-places .container .popular-places-container .inner_popular__places__box {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
}

/*=======================================================
                call-to-action section
=======================================================*/
#call-to-action {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
}
#call-to-action::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #222222;
  content: "";
  opacity: 0.90;
}
@media screen and (min-width: 992px) {
  #call-to-action .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  #call-to-action .container .call-to-action__box {
    display: block;
    margin: 50px auto;
  }
}
#call-to-action .container .call-to-action__box .call-to-action__submit__btn {
  background-color: transparent;
  margin-right: 30px;
  border: 2px solid #ffffff;
}
#call-to-action .container .call-to-action__box .call-to-action__submit__btn:hover {
  color: #00c0ff;
  background: #ffffff;
}
#call-to-action .container .call-to-action__box .call-to-action__browse__btn {
  background: #2f4f4f;
  border: 2px solid #2f4f4f;
}
#call-to-action .container .call-to-action__box .call-to-action__browse__btn:hover {
  background: #272727;
}
#call-to-action .container .call-to-action__box .call-to-action__submit__btn,
#call-to-action .container .call-to-action__box .call-to-action__browse__btn {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 13px 23px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0px 0px 0px inset;
  -ms-box-shadow: rgba(255, 255, 255, 0.1) 0 0px 0px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 0px 0px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0px 0px 0px inset;
}

/*=======================================================
                    agents section
=======================================================*/
#agents .container .title-box {
  position: relative;
}
#agents .container .agents__slider .agent__list {
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 20px;
}
#agents .container .agents__slider .agent__list .agent__img__box {
  position: relative;
}
#agents .container .agents__slider .agent__list .agent__img__box a {
  width: 100%;
}
#agents .container .agents__slider .agent__list .agent__img__box a::before {
  position: absolute;
  right: -20px;
  top: -20px;
  height: 100%;
  width: 100%;
  border: 1px solid #00c0ff;
  content: "";
}
#agents .container .agents__slider .agent__list .agent__img__box a img {
  position: relative;
}
#agents .container .agents__slider .agent__list .agent__img__box .agent__social__links {
  position: absolute;
  left: 15px;
  top: 65px;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#agents .container .agents__slider .agent__list .agent__img__box .agent__social__links li {
  position: relative;
  display: block;
  left: 50px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#agents .container .agents__slider .agent__list .agent__img__box .agent__social__links li a {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#agents .container .agents__slider .agent__list .agent__info__box {
  position: relative;
  display: block;
  background-color: transparent;
  padding: 40px 0 0;
  text-align: center;
}
#agents .container .agents__slider .agent__list .agent__info__box a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: #00c0ff;
  font-weight: 700;
  padding-right: 20px;
  margin-right: 10px;
  text-transform: capitalize;
}
#agents .container .agents__slider .agent__list .agent__info__box a::after {
  position: absolute;
  right: -3px;
  top: 0;
  font-size: 24px;
  line-height: 30px;
  color: #00c0ff;
  font-weight: 700;
  content: "-";
}
#agents .container .agents__slider .agent__list .agent__info__box .agent__designation {
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#agents .container .agents__slider .owl-nav {
  position: absolute;
  top: -90px;
  right: 0;
}
#agents .container .agents__slider .owl-nav .owl-next,
#agents .container .agents__slider .owl-nav .owl-prev {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  background-color: #2e2e2e;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#agents .container .agents__slider .owl-nav .owl-next:hover,
#agents .container .agents__slider .owl-nav .owl-prev:hover {
  background: #00c0ff;
}

/*=======================================================
                    footer section
=======================================================*/
#footer {
  padding: 128px 0 0;
  background: #222222;
}
#footer .container .footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid #555555;
  margin-bottom: 75px;
}
@media screen and (min-width: 500px) {
  #footer .container .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  #footer .container .footer-top .footer-top__social__icon__box {
    margin: 30px auto;
  }
}
#footer .container .footer-top .footer-top__social__icon__box ul li {
  display: inline-block;
  margin-left: 25px;
}
#footer .container .footer-top .footer-top__social__icon__box ul li a {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#footer .container .footer-middle {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .container .footer-middle::after {
  position: absolute;
  content: "";
}
@media screen and (max-width: 600px) {
  #footer .container .footer-middle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  #footer .container .footer-middle .footer-middle__cities,
  #footer .container .footer-middle .footer-middle__get__in__touch {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
#footer .container .footer-middle .footer-middle__cities .footer-middle__title,
#footer .container .footer-middle .footer-middle__get__in__touch .footer-middle__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 36px;
  text-transform: uppercase;
}
#footer .container .footer-middle .footer-middle__cities .cities__list__box {
  max-width: 320px;
  min-width: 260px;
}
#footer .container .footer-middle .footer-middle__cities .cities__list__box ul li {
  position: relative;
  display: block;
  padding-left: 30px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 16px;
  float: left;
  width: 50%;
}
#footer .container .footer-middle .footer-middle__cities .cities__list__box ul li a {
  display: block;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#footer .container .footer-middle .footer-middle__cities .cities__list__box ul li a:hover {
  color: #00c0ff;
}
#footer .container .footer-middle .footer-middle__cities .cities__list__box ul li i {
  position: absolute;
  left: -3px;
  top: 0;
  font-size: 16px;
  line-height: 20px;
  color: #00c0ff;
}
#footer .container .footer-middle .footer-middle__get__in__touch {
  min-width: 275px;
  max-width: 470px;
}
#footer .container .footer-middle .footer-middle__get__in__touch ul li {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  padding-left: 40px;
  margin-bottom: 16px;
}
#footer .container .footer-middle .footer-middle__get__in__touch ul li span {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 22px;
  line-height: 24px;
  color: #00c0ff;
  margin-top: -12px;
}
#footer .container .footer-middle .footer-middle__get__in__touch ul li a {
  color: #ffffff;
  display: block;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#footer .container .footer-middle .footer-middle__get__in__touch ul li a:hover {
  color: #00c0ff;
}
#footer .container .footer-bottom {
  position: relative;
  padding: 40px 0;
}
#footer .container .footer-bottom .back-to-top {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  text-align: center;
}
#footer .container .footer-bottom .back-to-top span {
  cursor: pointer;
  padding: 7px;
  background: #00c0ff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
#footer .container .footer-bottom .back-to-top span:hover {
  background: #ffffff;
}
#footer .container .footer-bottom .copyright-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
#footer .container .footer-bottom .copyright-text a {
  color: #00c0ff;
}
